<main class="container">
<form method="POST" action="/register">
  <div class="row">
  <div class="col-3">
    <label class="label">Username</label>
  </div>
    <div class="control col-9">
      <input class="input" name="username" type="text" placeholder="Please enter your desired username here" required>
    </div>
  </div>
  <div class="row">
  <div class="col-3">
    <label class="label">Email</label>
  </div>
    <div class="control col-9">
      <input class="input" name="email" type="text" placeholder="Please enter your email here" required>
    </div>
  </div>
  <div class="row">
  <div class="col-3">
    <label class="label">Password</label>
  </div>
    <div class="control col-9">
      <input class="input" name="password" type="password" placeholder="Please enter your desired password here" required>
    </div>
  </div>
  <div class="row">
  <div class="col-3">
    <label class="label">Confirm Password</label>
  </div>
    <div class="control col-9">
      <input class="input" name="passwordConfirmation" type="password" placeholder="Please enter your password again" required>
    </div>
  </div>
  <div class="control">
    <button class="button is-primary">Register</button>
  </div>
</form>
</main>
