<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<a class="navbar-brand" href="/">R</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
<ul class="navbar-nav">
  <li class="nav-item active">
    <a class="nav-link button1" href="/posts">Posts <span class="sr-only">(current)</span></a>
  </li>
  <% if(!locals.isAuthenticated) { %>
    <li class="navRight"><a class="nav-link button2" href="/register">Sign Up/In</a></li>
    <% } else { %>
      <li class="navRight"><a class="nav-link button2" href="/posts/new">New Post</a></li>
      <li class="navRight"><a class="nav-link button2" href="/messages/inbox">Inbox</a></li>
      <li class="navRight"><a class="nav-link button2" href="/messages/sent">Sent</a></li>
      <li class="navRight"><a class="nav-link button2" href="/messages/new">New Message</a></li>
      <li class="navRight"><a class="nav-link button2" href="/users/<%= currentUser.id%>">Profile</a></li>
      <li class="navRight"><a class="nav-link button2" href="/users/<%= currentUser.id%>/edit">Profile Edit</a></li>
      <li class="navRight"><a class="nav-link button2" href="/logout">Logout</a></li>

<% } %>
</ul>
<% if(locals.isAuthenticated) { %>
  <div class="welcome">
  <p> Welcome back, <%= locals.currentUser.username%></p>
  </div>
<% } %>
</div>
</nav>
