<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<a class="navbar-brand" href="/">R</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
<ul class="navbar-nav">
  <li class="nav-item active">
    <a class="nav-link button1" href="/posts">Posts <span class="sr-only">(current)</span></a>
  </li>
  <% if(!locals.isAuthenticated) { %>
<li><a class="nav-link button2" href="/register">Register</a></li>
<li><a class="nav-link button2" href="/login">Login</a></li>
<% } else { %>
  <li><a class="nav-link button2" href="/messages/inbox">Inbox</a></li>
  <li><a class="nav-link button2" href="/posts/profile">Profile</a></li>
  <li><a class="nav-link button2" href="/posts/new">New Cheese</a></li>
<li><a class="nav-link button2" href="/logout">Logout</a></li>
<% } %>
</ul>
</div>
</nav>
