<main class="container">
  <div class="row topLine">
    <p><strong>Welcome to a reddit clone</strong></p>
  </div>
  <div class="row">
    <p>This is the place where you can post stuff</p>
  </div>
  <div class="row mainTopic">
    <p class="headline"><strong>
    This week's update includes everything server-side! We will learn everything
    there is to know about how to run servers! By the end of the week you should
    be able to run your own server and have all the toold to be prepared for the
    weekend homework that is going to be given out on Friday.
  </strong>
  </p>
  </div>
</main>
