<main class="container">

  <div class="row">
  <div class="jumbotron">
    <div class="row mainTopic">
      <p class="headline"><strong>
      This week's update includes everything server-side! We will learn everything
      there is to know about how to run servers! By the end of the week we should
      be able to run our own servers and have all the tools to be prepared for the
      weekend homework that is going to be given out on Friday.
    </strong>
    </p>
    </div>
</div>
</div>
  <div class="row headline">
    <p><strong>Welcome to a reddit clone</strong></p>
  </div>
  <div class="row headline">
    <p>This is the place where you can post stuff</p>
  </div>

</main>
