
html {
  min-width: 500px;
  overflow: hidden;
}
body {
  background: white;
  color: grey;
  font-size: 14px;
  font-family: monospace;
  padding-bottom: 40px;
  height: 100%;
}

html, body, main {
  height: 100%;
}
p {
  margin: 10px 0;
}

::-webkit-scrollbar {
    display: none;
}
img {
  max-width: 100%;
}
.navbar {
  padding: 0;
}
.profileFont {
  font-size: 20px;
}
.profileInfo {
  text-align: right;
}
.welcome {
  position: fixed;
  right: 10px;
  padding: 0 20px;
  color: white;
}
.welcomeSeparator {
  background-color: white;
  padding: 10px 5px;
}
.registrationForms {
  justify-content: space-around;
}
.nav-link:hover {
  background: black;
}
.or {
  text-align: center;
}
.labels {
  display: block;
  font-size: 20px;
}
label {
  margin: 10px auto;
}
input {
  width: 100%;
  margin: 10px auto;
  border: 2px solid #343a40;
  border-left: none;
  border-right: none;
  color: black;
}
input::placeholder {
  color: #343a40;
  padding: 5px;
}
input:focus {
  outline:none;
  border: 2px solid black;
  border-left: none;
  border-right: none;
  overflow: visible;
  &::placeholder {
    color: white;
  }
}
.separator {
  border-right: 5px solid white;
}
.navbar-brand {
  border: 5px solid white;
  padding: 0 10px;
  margin-right: 100px;
}
.navbar-toggler {
  margin: 0;
}
.container {
  height: 100%;
  margin: 0 auto;
  border: 5px solid #343a40;
  border-top: none;
  border-bottom: none;
  overflow: scroll;
}
h3 {
  color: #343a40;
}
.row {
  color: #343a40;
  margin: 5px auto;
  padding: 5px;
}
.subtitle {
  font-size: 14px;
}
.edit {
  font-size: 10px;
  background: #ddd;
  border: 1px solid #bbb;
  color: black;
  padding: 3px 5px;
  float: right;
  margin: 5px auto;
}
.headline {
  font-size: 30px;
  font-style: italic;
}

.mainTopic {
  color: white;
  padding: 5px;
  text-transform: uppercase;
  text-align: center;
}
.jumbotron {
  background-color: #343a40;
}
.topLine {
  margin-top: 50px;
}


button {
  font-size: 10px;
  background: #ddd;
  border: 1px solid #bbb;
  color: black;
  padding: 3px 5px;
  margin: 5px auto;
}
button:focus {
  outline: none;
}

textarea {
  width: 100%;
  resize: none;
  height: 100px;
}
.rating {
  border: 2px solid black;
  padding: 5px;
  // I need to know if I can set the background color as the class name
}
.logOutButton {
  border: 5px solid white;
  border-top: none;
  border-bottom: none;
}
// =====================================VALIDATION ERRORS========================
.is-danger {
  opacity: 1;
  transition: opacity 1s;
  color: white;
  background-color: maroon;
  font-size: 18px;
  width: 50%;
  padding: 15px;
  border-bottom-right-radius: 90px;
}
.is-success {
  opacity: 1;
  transition: opacity 1s;
  color: white;
  background-color: green;
  font-size: 18px;
  width: 50%;
  padding: 15px;
  border-bottom-right-radius: 90px;
}
#title-error,
#firstname-error,
#lastname-error,
#image-error,
#username-error,
#email-error,
#password-error,
#passwordConfirmation-error   {
  color: white;
  background-color: maroon;
  opacity: 0.8;
  width: 100%;
  padding: 5px;
  border-bottom-right-radius: 90px;
  margin-top: 0;
}
// ===========================================================
// COMMENT COLORS HERE!
.ridiculous {
  border: 2px solid maroon;
  width: 100%;
  border-left: none;
  border-right: none;
  padding-left: 20px;
}
.spectacular {
  border: 2px solid green;
  border-left: none;
  border-right: none;
  width: 100%;
  padding-left: 20px;
}
// ===========================================================

// ================MEDIA QUERY================================
@media screen and (max-width: 1200px) {
  .welcome {
    display: none;
  }
}
